{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Bonjour {{app.user.nom}} {{app.user.prenom}}</h1>
    <div class="text-end m-3">
        <a href="{{path('app_add_post')}}" class="btn btn-primary">+ ajouter un post</a>
    </div>
    {% for post in posts %}
    {% if post.visibilite %}
    <div class="row d-flex justify-content-center r">
    <div class="col-md-8 mb-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-title">{{post.introduction}}</h6>
                <p class="card-text">{{post.content}}</p>
                 {# <a href="{{ path('app_edit_post', {'id': post.id}) }}" class='btn btn-info'>Modifier</a>
                 <a href="{{path('app_delete_post', {'id': post.id})}}" class='btn btn-danger'>Supprimer</a> #}
                 {% if app.user and post.isLike(app.user) %} 
                 <a href="{{path('app_like', {'id':post.id})}}" class='btn btn-danger'>DeLiker</a>
                 {% else %}
                 <a href="{{path('app_like', {'id':post.id})}}" class='btn btn-primary'>Liker</a>
                 {% endif %}
                 
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
